@import '../scss/font.scss';
@import '../scss/colors.scss';

.header {
  background-color: transparent;
  height: 4rem;
  box-shadow: 0 0 0.2rem $shadow;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  a {
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
  }

  &--primary {
    color: $primary;

    a {
      color: $primary;
    }
  }

  &--secondary {
    color: $secondary;

    a {
      color: $secondary;
    }
  }

  &--items {
    display: flex;
  }

  &--item {
    padding-left: 1rem;
  }
}
