<neutron-input
  [helperText]="helperText"
  [invalid]="invalid"
  [invalidMessage]="invalidMessage"
>
  {{ label }}
  <input
    neutronInput="text"
    [invalid]="invalid"
    [siteTheme]="siteTheme"
    [theme]="theme"
    [placeholder]="placeholder"
    [disabled]="disabled"
  />
</neutron-input>
<br />
<br />
<neutron-input
  helperText="Write about an amazing adventure you'be been on"
  [invalid]="invalid"
  [invalidMessage]="invalidMessage"
>
  Good Vibes
  <textarea
    neutronInput="textarea"
    [invalid]="invalid"
    [siteTheme]="siteTheme"
    [theme]="theme"
    placeholder="I road my bike arcoss the United States of America in the summer of 2016."
    [disabled]="disabled"
    rows="4"
    cols="50"
  ></textarea>
</neutron-input>
