<button neutronButton="primary">Click Me!</button>
&nbsp;
<button neutronButton="secondary">Click Me!</button>
&nbsp;
<button neutronButton="primary" disabled>Click Me!</button>

<br />
<br />
<button neutronButton="primary-stroked">Click Me!</button>
&nbsp;
<button neutronButton="secondary-stroked">Click Me!</button>
&nbsp;
<button neutronButton="primary-stroked" disabled>Click Me!</button>

<br />
<br />
<button neutronButton="primary-ghost">Click Me!</button>
&nbsp;
<button neutronButton="secondary-ghost">Click Me!</button>
&nbsp;
<button neutronButton="primary-ghost" disabled>Click Me!</button>

<br />
<br />
<button neutronButton="danger">Click Me!</button>
&nbsp;
<button neutronButton="danger" disabled>Click Me!</button>

<br />
<br />
<button neutronButton="danger-stroked">Click Me!</button>
&nbsp;
<button neutronButton="danger-stroked" disabled>Click Me!</button>

<br />
<br />
<button neutronButton="danger-ghost">Click Me!</button>
&nbsp;
<button neutronButton="danger-ghost" disabled>Click Me!</button>
