$primary: #4c00ff;
$primary--hover: #4400e6;
$primary--hover--ghost: #ede6ff;
$primary--active: #3500b3;
$primary--active--ghost: #dbccff;

$secondary: #17dbce;
$secondary--hover: #16cdc1;
$secondary--hover--ghost: #dcfbf9;
$secondary--active: #119f96;
$secondary--active--ghost: #c5f9f5;

$danger: #ff6666;
$danger--hover: #ff4d4d;
$danger--hover--ghost: #ffe6e6;
$danger--active: #ff1a1a;
$danger--active--ghost: #ffcccc;

$disabled--primary: #c6c6c6;
$disabled--secondary: #7a7a7a;

$white: #ffffff;
$black: #000000;
$shadow: #bababa;
